<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/members']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <h2>{{member.name}}</h2>
    </mat-card-title>
    <mat-card-subtitle>{{member.education}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Name:</dt>
      <dd>{{member.name}}</dd>
      <dt>Type:</dt>
      <dd>{{member.memberType}}</dd>
      <dt>Email:</dt>
      <dd>{{member.email}}</dd>
      <dt>Education:</dt>
      <dd>{{member.education}}</dd>
      <dt>Career:</dt>
      <dd>{{member.career}}</dd>
      <dt>Birth Year:</dt>
      <dd>{{member.birthYear}}</dd>
      <dt>Created Date:</dt>
      <dd>{{member.created | date}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/member-edit', member._id]">
      <mat-icon>edit</mat-icon>
    </a>
    <a mat-raised-button color="warn" (click)="deleteMember(member._id)">
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>